* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
}

body {
    background: url(/img/img/dollar-g5dd4c0be0_1920.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0.95;
}

.container {
    width: 80%;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: #DDE2C5;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    margin: 30px 0;
    border-radius: 50%;
}

nav {
    width: 100%;
    text-align: right;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.nav-link {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 17px;
}

.nav-link:hover {
    color: #533d24;
}

.nav-link1 {
    text-decoration: none;
    color: #000;
}

.nav-link1:hover {
    color: #556B2F;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.row>div {
    text-align: center;
}

.column-1 {
    /*margin-left: 50px;*/
    position: relative;
    background: #556B2F;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
}

.talles {
    display: flex;
    justify-content: space-around;
}

.oi {
    padding: 5px;
    border-radius: 20px;
    border: none;
    width: 261px;
}

#btn-submit {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

select {
    padding: 5px;
    border-radius: 20px;
    border: none;
}

input:focus {
    outline: none;
}

input {
    padding: 5px;
}

.liAceito {
    margin-top: 20px;
}

.termosUso {
    color: #b7b7b7;
    text-decoration: none;
}

#btn-submit {
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

h3 {
    font-size: 30px;
}

.menu-icon {
    width: 25px;
    margin-right: 15px;
    display: none;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img {
    height: 30px;
    margin: 20px;
    cursor: pointer;
    border-radius: 20px;
    vertical-align: middle;
}

.parceiros{
    font-size: 25px;
    color: #000;
}

footer {
    background: #556B2F;
    border-radius: 20px;
    margin-top: 10px;
}

.parabens{
    width: 70%;
    border-radius: 20px;
}

button{
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width: 209px;
    height: 44px;
    margin-bottom: 20px;
}

/*MEDIA QUERY*/
@media (max-width: 750px) {

    .container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        overflow: auto;
    }

    .row {
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .column-2 {
        margin: 30px;
    }

    .color-box {
        transform: translateX(70px);
    }

    #menu-list {
        position: relative;
        top: 60px;
        left: 60px;
        overflow: hidden;
        transition: all 0.7s 0s ease-in-out;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .nav-li {
        display: block;
        margin-top: -10px;
        line-height: 35px;
    }

    h1 {
        line-height: 30px;
    }

    .talles {
        display: flex;
        flex-wrap: wrap;
    }

    .parceiros{
        font-size: 15px;
    }

    footer>div>h3 {
        font-size: 15px;
    }

    .tempo{
       margin-top: 10px;
       margin-bottom: 10px;
    }


}