
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
}

body {
    background: url(/img/dollar-g5dd4c0be0_1920.jpg);
    background-size: contain;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: #DDE2C5;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.logo {
    width: 500px;
    border-radius: 50%;
    margin-top: 60%;
    margin-left: 27%;
}

.central {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.central2 {
    margin-left: 30px;
    position: relative;
    text-align: center;
}

.central2 > h2 {
    width: 400px;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 13px;
}

.central2 > h3 {
    width: 420px;
    font-size: 20px;
    color: #707070;
    margin-top: 10px;
    margin-left: 0px;
}

.parceiros{
    font-size: 25px;
}

.central2 > p {
    font-size: 18px;
}

.central2::before {
    content: "";
    width: 10px;
    height: 100%;
    background: #533d24;
    /*background: linear-gradient(93deg, #228B22 0%, rgba#32CD32 35%, #00FF00 100%);*/
    position: absolute;
    left: -20px;
    top: 8px;
}

.celular {
    margin-left: 60px;
    width: 80%;
    animation: moverCelular 2s infinite alternate ease-in-out;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img {
    height: 40px;
    margin: 20px;
    cursor: pointer;
    border-radius: 20px;
}

footer {
    background: #533d24;
    border-radius: 20px;
    margin-top: 10px;
    line-height: 10px;
}

@media (max-width: 750px) {

    .container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        overflow: auto;
    }

    .central {
        flex-direction: column-reverse;
    }

    h2 {
        text-align: center;
        margin-left: -55px;
        font-size: 30px;
    }

    h3 {
        width: 450px;
        text-align: center;
        margin-left: -25px;
        font-size: 14px;
    }

    p {
        text-align: center;
        font-size: 15px;
    }

    .parceiros{
        font-size: 15px;
    }

    .logo {
        margin-top: 10%;
        margin-left: 2%;
        width: 450px;
    }

    .social-links img {
        height: 30px;
        margin: 20px;
        cursor: pointer;
    }

    .social-links {
        margin-left: 40px;
    }

    .celular {
        margin-left: 40px;
    }
}


@keyframes moverCelular {
    from {
        transform: translate(-5%, -5%) rotate(-10deg);
    }
}